html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button {
    margin: 0;
    padding: 0;
}

body {
    font: 12px/1.5 "Microsoft yahei", arial, Simsun, sans-serif;
    color: #333;
    background-color: #fff;
}

ul{
    list-style: none;
}
a{
    color: #3983e5;
    text-decoration: none;
}
.mod{   
    width: 944px;
    margin: 20px auto ; 
    overflow: hidden;
}


.mod .top{
    height: 54px;    
    background-color: #3983e5;
}

.mod .mod-content{
    height:312px;
    border:1px solid #E0E0E0;
    border-top-width: 0px;
    position: relative;
}

.mod .left{
    height:312px;
    float:left;
    width: 182px;
    border-right:1px dotted #A3A3A3;
}

.mod .right{
    height:312px;
    /* float:left; */
    /* width: 759px; */   
    margin-left: 182px;
    padding: 12px 0px 0px 15px;
    /* background-color: #666; */
} 

.mod .select li:first-child{
   width: 37px;
   height: 16px;
   background-color: #3983e5;
   border-radius: 2px;
   color: #fff;
   font-size: 10px;
   text-align: center;
   line-height: 16px;
  }

  .mod .select .active a{
    color:#fff;
    font-size: 12px;
} 

.mod .right .more{
    position: absolute;
    top:12px;
    right:17px;
    padding:2px 10px;
}

.mod .product{
    margin-top:8px;
    overflow: hidden;
}

.mod .product li{
    float:left;
    width: 176px;
    height:127px;
    margin:0px 8px 8px 0px;
    background-color: #666;
}